extends layout

block content
    
    if messageSuccess
        p(class="messageSuccess") #{messageSuccess}

    if messageFailure
        p(class="messageFailure") #{messageFailure}
    form(action="/profile" method="post" class="editProfile")
        | User Login: #{user.username} 
        br
        | User First name: #{user.firstName} 
        br
        | User Last name: #{user.lasttName} 
        br
        | Email address: #{user.emails[0].value}
        p(class="profileNote") Note: To change your password or mail address, you have to enter your current password.
        | Password: #[input( type="password" id="password" name="password")]
        br
        | New Password: #[input( type="password" id="newPassword" name="newPassword")]
        br
        | Re-enter Password: #[input( type="password" id="confirmedPassword" name="confirmedPassword") ]
        br
        input( type="submit" value="Submit"  )

