extends layout

block content
    h2 Register
    if messageSuccess
        p(class="messageSuccess") #{messageSuccess}
    else
        if messageFailure
            p(class="messageFailure") #{messageFailure}
        form(action="/register" method="post" class="register")
            | User Name*: 
            input(type="text" name="pLogin" value=pLogin)
            br
            | First name*: 
            input(type="text" name="pFirstName" value=pFirstName)
            br
            | Last name*: 
            input(type="text" name="pLastName" value=pLastName)
            br
            | Email address*:
            input(type="text" name="pMail" value=pMail )    
            br    
            | Password*:
            input( type="password" name="pPassword")
            br
            | Re-enter Password*:
            input( type="password" name="pConfirmedPassword")
            br
            input( type="submit" value="Register"  )
        p Already have an account? #[a(href="/login" class="alreadyAccount") Sign in here!]