extends layout

block content

    p   ID: #{user.id} 
        | Username: #{user.username} 
        | Name: #{user.displayName} 
        if '#{user.emails}'
            | Email: #{user.emails[0].value}
            a(href="/logout")   Log out